01.BE/InvoiceServer.API/Service References/T24ServiceReference/InqueryWebService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://inquery.bidc.com/" targetNamespace="http://inquery.bidc.com/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="InqueryService" type="tns:InqueryService" />
  <xs:element name="InqueryServiceResponse" type="tns:InqueryServiceResponse" />
  <xs:element name="hello" type="tns:hello" />
  <xs:element name="helloResponse" type="tns:helloResponse" />
  <xs:complexType name="InqueryService">
    <xs:sequence>
      <xs:element minOccurs="0" name="inputXML" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="InqueryServiceResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="hello">
    <xs:sequence>
      <xs:element minOccurs="0" name="name" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="helloResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>